.artistName {
  font-size: 24px;
  text-align: left;
  margin: 10px 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #bfb97c;
    text-align: left;
    padding: 8px;
  }
  
  td:nth-child(odd) {
    width: 10%;
    background-color: #b5b07d;
  }

  td:nth-child(odd) {
    color: white;
    text-align:center;
  }

  td:nth-child(even) {
    color: #444444;
  }
